
@keyframes fade-in {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes grow-in-bounce-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow-in-width {
  0% {
    width: 6rem;
    opacity: 1;
  }

  100% {
    width: calc(12rem + 5.9rem);
    opacity: 1;
  }
}

@keyframes name-fade-in {
  0% {
    color: transparent;
  }

  100% {
    color: $c-purple-dark;
  }
}

@keyframes flamingo-up {
  0% {
    opacity: 0;
    transform: translateY(100%) rotate(-45deg);
    animation-timing-function: ease-out;
  }

  70% {
    animation-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

@keyframes flamingo-dance {
  0% {
    transform: translate(0, 0) rotate(1deg);
  }

  50% {
    transform: translate(2%, 5%) rotate(-3deg);
  }

  100% {
    transform: translate(0, 0) rotate(1deg);
  }
}

@keyframes leaf_blue_left-up {
  0% {
    opacity: 0;
    transform: rotate(60deg);
  }

  20% {
    opacity: 1;
    transform: rotate(-30deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-8deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes leaf_blue_right-up {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }

  20% {
    opacity: 1;
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes leaf_green-up {
  0% {
    opacity: 0;
    transform: rotate(-40deg);
  }

  10% {
    opacity: 1;
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes suitcase-up {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0);
    animation-timing-function: ease-out;
  }

  1% {
    opacity: 1;
    transform: translateY(100%) scale(0);
  }

  70% {
    transform: translateY(-5%) scale(1);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes rolling_out_half-left {
  0% {
    opacity: 0;
    transform: translateX(-167%) rotate(-180deg);
  }

  1% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes rolling_out_half-right {
  0% {
    opacity: 0;
    transform: translateX(167%) rotate(180deg);
  }

  1% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes rolling_out_quarter-right {
  0% {
    opacity: 0;
    transform: translateX(78.5%) rotate(90deg);
  }

  1% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
