.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;

  &--hidden {
    display: none;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    min-height: calc(var(--vh, 1vh) * 100);
  }

  @media (max-width: $tablet - 1) and (orientation: landscape) {
    height: 100vh;
  }
}

.screen__wrapper {
  @include container;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen__disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-light;
  z-index: 1;
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity $standard-duration  cubic-bezier(0.07, 0.99, 0.98, 1),
    transform $standard-duration cubic-bezier(0.07, 0.99, 0.98, 1);

  @media (max-width: $tablet) and (orientation: portrait) {
    background-color: transparent;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    background-color: transparent;
  }

  &.no-transform {
    transform: translateY(0);

    .disclaimer {
      opacity: 0;
      transition: opacity $standard-duration;
    }

    .screen.active &.no-transform {
      .disclaimer {
        opacity: 1;
      }
    }
  }

  .dom-loaded & {
    opacity: 1;
  }

  .screen.active & {
    transform: translateY(0);
  }
}


.screen__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $c-purple-dark;
  background-color: $c-light;
  z-index: 1;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(.05,.66,.29,.93);
  opacity: 0;

  .dom-loaded & {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 18rem;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 16rem;
    }
  }
}

.screen__footer-wrapper {
  @include container;

  @media (max-width: $tablet) and (orientation: portrait) {
    opacity: 0;
    transition: opacity $standard-duration ease-out $middle-duration;

    .screen__footer--full & {
      opacity: 1;
    }

    .screen__footer--full-transitioned & {
      opacity: 0;
      transition-delay: 0s;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    opacity: 0;
    transition: opacity $standard-duration ease-out $middle-duration;

    .screen__footer--full & {
      opacity: 1;
    }

    .screen__footer--full-transitioned & {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}

.screen__footer-enlarge {
  @include btn-reset;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-purple-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }

    .screen__footer--full-transitioned & {
      opacity: 1;
      transition-delay: $standard-duration;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }

    .screen__footer--full-transitioned & {
      opacity: 1;
      transition-delay: $standard-duration;
    }
  }

  svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.screen__footer-collapse {
  @include btn-reset;
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-purple-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }

    .screen__footer--full-transitioned & {
      opacity: 0;
      transition-delay: 0s;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }

    .screen__footer--full-transitioned & {
      opacity: 0;
      transition-delay: 0s;
    }
  }

  svg {
    @include center;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.screen__footer-announce {
  display: none;
  margin-bottom: 1.6rem;
  padding: 3rem 0 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
  }
}

.screen__footer-label {
  margin: 0 0 0.3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.2;
}

.screen__footer-date {
  margin: 0;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 0.9;
}

.screen__footer-note {
  padding: 0.8rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;

  @media (min-width: $stop-scaling) {
    padding: 8px 0;
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  svg {
    display: block;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;

    @media (min-width: $stop-scaling) {
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      display: none;
    }
  }

  span {
    margin-right: 2rem;

    @media (min-width: $stop-scaling) {
      margin-right: 20px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-right: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-right: 0;
    }

    &.on-top {
      display: none;

      .section-top & {
        display: inline;
      }
    }

    &.on-prizes {
      display: none;

      .section-prizes & {
        display: inline;
      }
    }
  }
}

.screen--story {
  background-color: $c-purple-dark;
  background-image: url("../img/slide1.jpg"), url("../img/slide2.jpg"), url("../img/slide3.jpg"), url("../img/slide4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (orientation: portrait) {
    background-size: auto calc(100vh - 13.8rem), 100% 25rem;
    background-position: top center, bottom center;
  }
}

.screen--prizes {
  z-index: 3;
  background-color: $c-purple-dark;
}

.screen--game {
  position: relative;
  background-color: $c-purple-dark;

  &::before {
    content: "";
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    width: 32.7rem;
    height: 36.9rem;
    background-image: url("../img/sonya.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url("../img/sonya@2x.png");
    }

    @media (min-width: $stop-scaling) {
      right: -85px;
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }
}

.screen--result {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-purple-dark;
  opacity: 0;
  pointer-events: none;

  &.screen--show {
    opacity: 1;
    pointer-events: auto;
  }
}

.screen--rules {
  background-color: $c-purple-dark;
}

.screen__curtain {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: $c-purple-dark;
  transform: scaleY(0);
  transform-origin: bottom;

  &.screen__curtain_active {
    z-index: 2;
    transform: scaleY(1);
    transition: transform 0.45s ease-in-out;
    opacity: 1;
  }
}

